# Auto detect text files and perform LF normalization
* text=auto
.gitignore export-ignore
.gitattributes export-ignore
/PAEIOU_units export-ignore
call_paeiou.py export-ignore
unit_add_list.txt export-ignore
CHANGELOG.md export-ignore